@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  h1 {
      font-size: 48px;
      font-weight: 600;
  }
  
  h2 {
    font-size: 40px;
    font-weight: 600;
  }

  h3 {
    font-size: 32px;
    font-weight: 600;
  }

  h4 {
    font-size: 28px;
    font-weight: 600;
  }

  h5 {
    font-size: 20px;
    font-weight: 600;
  }

  h6 {
    font-size: 18px;
    font-weight: 600;
  }

}


:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  background-color: #100c0c;
  color: #EDEAF1;
}

.active-sidebar{
  color: #2eb174;
  background-color: #161617;
}
.sidebar-isCurrent::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: 4px;
  background: #2eb174;
  border-radius: 8px;
}


.sidebar {
  height: calc(100vh - 60px);
}